<a href="https://colab.research.google.com/github/SpecialAlex/TemporaryStation/blob/main/P03_02_02_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuple, 튜플
Julia에서 순서쌍, 튜플은 원소를 쉼표로 구분해 나열함으로서 정의한다.  
소괄호(`()`)는 튜플을 만들 때 필수적인 요소는 아니지만 명확한 표기를 위해 권장된다.

In [ ]:
xtuple = 3, 2, 2
otuple = (3, 2, 2)

println(xtuple)
println(otuple)

(3, 2, 2)
(3, 2, 2)

In [ ]:
xarray = [ 3, 2, 2 ]

3-element Vector{Int64}:
 3
 2
 2

In [ ]:
marray = [ 3 2 2 ]

1×3 Matrix{Int64}:
 3  2  2

In [ ]:
oarray = [ (3, 2, 1), (1, 2, 3)]

2-element Vector{Tuple{Int64, Int64, Int64}}:
 (3, 2, 1)
 (1, 2, 3)

In [ ]:
oarray2 = [ [3, 2, 1], [1, 2, 3]]

2-element Vector{Vector{Int64}}:
 [3, 2, 1]
 [1, 2, 3]

In [ ]:
oarray3 = [ (3, 2, 1), [1, 2, 3]]

2-element Vector{Any}:
 (3, 2, 1)
 [1, 2, 3]

특히 Python등의 프로그래밍 언어에서 튜플은 '리스트와 거의 비슷하지만 `[ ]`대신 `( )`를 사용하고 원소의 값을 바꿀 수 없는 것'으로 알려져 있다.  
딱히 틀린 말은 아니지만 이런 설명은 튜플의 성질을 말하는 것이지 튜플 자체의 정의와는 거리가 멀다.  
조금 더 보편적인 형식 과학에서 튜플은 '순서를 가지고 중복을 허용하며 원소들을 유한히 나열한 것'을 말하고, Julia에서 튜플은 '함수의 인수에 대한 추상화'로 정의한다.  
말이 좀 어려워 보일 수 있는데, 쉽게 예를 들자면 $f(x, y, z) = x^{2}-2yz$와 같은 함수가 있을 때 $x, y, z$처럼 인수가 나열된 것을 튜플이라 한다.  
이러한 정의와 개념을 납득하고 나면 Python처럼 그냥 '튜플은 리스트랑 비슷한데 수정이 안 된다'로 무작정 외우는 게 아니라 왜 튜플이 그런 성질을 가지는지 이해할 수 있게 된다.
- 자료구조의 측면에서 튜플은 선형 데이터 구조를 갖추고 있는 것은 사실이므로 배열과 유사할 수 밖에 없다.
- 하지만 배열과 달리 값의 수정이 허용되지 않는데, 이는 배열이 '자료를 저장하는'목적을 가진 것과 달리 튜플은 '자료를 묶어두는'은할을 한다는 점에서 당연하다.
- 문법 측면에서 `[ ]`를 안 쓰고 `( )`를 쓰는 것도 자연스럽다. 아주 특정한 분야의 몇 안되는 예외는 있지만, 보통 함수를 쓸 때는 누구나 `( )`를 쓴다.  
튜플과 배열을 바라보는 사고방식의 차이는 구체적으로 타입을 확인했을 때 더욱 극명하게 드러난다.

다음의 예시에서 `xtuple`의 타입은 `Tuple{Int64, Int64, Int64}`이고 `xarray`의 타입은 `Vector{Int64}`이다.  
`Vector{Int64}`가 단지 `Int64`인 원소들을 가지는 벡터라는 의미인 것과 달리, `Tuple{Int64, Int64, Int64}`는 첫 번째, 두 번째, 세 번째 원소가 각각 `Int64`라는 의미를 강조한다.

In [ ]:
typeof(xtuple)

Tuple{Int64, Int64, Int64}

In [ ]:
typeof(xarray)

Vector{Int64} (alias for Array{Int64, 1})

튜프ㄹ에 대해서는 `2*xtuple`과 같은 상수 곱셈도 정의되지 않는다.  
이러한 연산을 구현한다는 것은 마치 수학에서 $f2(x, y, z) = f(2x, 2y, 2z)$와 같이 이상한 표기를 허용하는 것처럼 보이므로, 배열과 확실하게 차이를 두는 것이 타당하다.

In [ ]:
2*xtuple

LoadError: MethodError: no method matching *(::Int64, ::Tuple{Int64, Int64, Int64})
The function `*` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  *(::Any, ::Any, ::Any, ::Any...)
   @ Base operators.jl:596
  *(::Real, ::Complex{Bool})
   @ Base complex.jl:330
  *(::Integer, ::CartesianIndex{N}) where N
   @ Base multidimensional.jl:129
  ...

마찬가지로 `sort()`등의 함수도 튜플에선 동작하지 않는데, 인수의 순서를 정렬하는 것이 개념적으로 말이 되지 않기 때문이다.  
부득이 튜플의 값을 정렬해야 할 일이 있다면 `collect()`함수를 통해 튜플과 같은 값을 저장한 배열로 바꾼 뒤 정렬을 취해야 한다.  
Julia의 튜플을 공부할 때 가장 중요한 것은 '왜 튜플에선 이런 함수들이 정의되지 않는지', 그리고 그것이 튜플의 정의에 입각했을 때 타당하다는 주장에 공감할 수 있을 정도로 확실한 개념을 잡고 가는 것이다.

In [ ]:
sort(xtuple)

LoadError: MethodError: no method matching sort(::Tuple{Int64, Int64, Int64})
The function `sort` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  sort(::AbstractUnitRange)
   @ Base range.jl:1397
  sort(::AbstractRange)
   @ Base range.jl:1400
  sort(::AbstractVector; kws...)
   @ Base sort.jl:1720
  ...

In [ ]:
sort(xarray)

3-element Vector{Int64}:
 2
 2
 3

In [ ]:
sort(collect(xtuple))

3-element Vector{Int64}:
 2
 2
 3

참고로 길이가 1인 튜플, 즉 `(1)`과 같은 표현은 그냥 1에 괄호를 친 것고ㅜ분이 되않기 때문에 해당 원소의찌뒤에 쉼표를 찍어 `(1, )`와 같이 정의한다.

In [ ]:
typeof((1))

Int64

In [ ]:
typeof((1, ))

Tuple{Int64}

## 변수 교환
튜플을 통해 변수들을 묶어주면 대입 연산자가 '='가 각 자리의 인수별로 대입을 시도한다.  
이를 활용하면 변수가 가지고 있는 값을 손쉽게 교환(Swap)해줄 수 있다.  
변수를 교환해야 하는 일이 자주 있지는 않지만, 막상 방법을 모르면 해결하기 까다롭고 불편하니 반드시 알아두는게 좋다.

In [ ]:
a = 37
b = "101"
c = []

Any[]

In [ ]:
(c, a, b) = (a, b, c)

(37, "101", Any[])

In [ ]:
println(a)
println(b)
println(c)

101
Any[]
37

만약 튜플을 통한 대입을 할 때 딱히 좌변에서 받아줄 필요가 없는 인수가 있다면 해당 칸을 밑줄 문자(`_`)로 두어서 비워놓을 수 있다.

In [ ]:
(_, b) = (b, a)

(Any[], "101")

In [ ]:
println(a)
println(b)
println(c)

101
101
37

# 인수 전달
Julia에서 튜플을 정의한 대로, 튜플은 함수의 인수(Argument)의 추상화기 때문에 함수에 인수를 전달하기 위해 사용할 수 있다.  
함수의 입력으로 튜플을 쓸 때 튜플 뒤에 스플랫 오퍼레이터(`...`)를 붙이면 그 튜플의 원소 각각이 인수로 전달된다.  
예를 들어, 튜플 `arg532`가 `(5, 3, 2)`로 정의되었다면 `max(5, 3, 2)`와 같다.  
재미있는 건 이러한 튜플의 정의 자체는 구체적인 어떤 함수에 종속되지 않으므로, 튜플로 적법하게 존재한다면 다른 함수에도 사용될 수 있다는 것이다.  
예시의 `max(arg532...)`가 집합 `{5, 3, 2}`중 가장 큰 수를 반환하는 것과 달리, `rand(arg532...)`는 `5 x 3 x 2`크기의 랜덤텐서를 반환한다.

In [ ]:
arg532 = (5, 3, 2)

(5, 3, 2)

In [ ]:
max(arg532...)

5

In [ ]:
rand(arg532...)

5×3×2 Array{Float64, 3}:
[:, :, 1] =
 0.682992  0.851489   0.319096
 0.965272  0.29465    0.360813
 0.219189  0.438163   0.0895631
 0.431572  0.0286711  0.556295
 0.124142  0.896366   0.656951

[:, :, 2] =
 0.190723   0.229801  0.910572
 0.828378   0.286033  0.984992
 0.983461   0.909503  0.47573
 0.0642118  0.144155  0.242514
 0.71121    0.375092  0.539146

## Named Tuple, 네임드 튜플
네임드 튜플이란 튜플이면서 각각의 원소에 고유한 이름이 주어진 컬렉션으로, 각각의 이름 그대로인 프로퍼티를 가진다.  
네임드 튜플을 만드는 방법은 튜플과 유사하게 쉼표로 구분해서 원소들을 나열하되, 등호와 함꼐 좌변에 각 자리의 이름을 표기하는 식이다.

In [2]:
point = (x = 5, y = 3, z = 2)

(x = 5, y = 3, z = 2)

In [3]:
typeof(point)

@NamedTuple{x::Int64, y::Int64, z::Int64}

In [4]:
propertynames(point)

(:x, :y, :z)

In [6]:
println(point.x)
println(point[end])

5
2

네임드 튜플은 각 자리의 이름을 그대로 프로퍼티로 가지기 때문에 정수로 된 인덱스가 아니라 심볼로 데이터에 바로 접근할 수 있다.  
이에 따라 코드를 읽고 쓰기가 무척 쉬워지는 한편, 어쨌든 튜플은 튜플이기 때문에 선형 데이터 구조를 이루면서 인덱스로도 접근할 수 있다.  
만약 이미 쓰고 있는 변수 여러 개를 묶어서 네임드 튜플을 만들고 싶다면 더 간단히 여는 소괄호 바로 뒤에 세미콜론(`;`)을 붙여서 (`; ... `)사이에 변수를 나열하는 방법도 있다.

In [7]:
dims = 2
rev = true

sortargs = (; dims, rev)

(dims = 2, rev = true)

가장 중요한 것은 튜플의 진면목은 네임드 튜플에서 드러난다는 점이다.  
사실 튜플을 통해 함수에 인수를 전달하는 것 자체는 배열로도 할 수 있다.  
이는 함수의 인수로 여러 값을 넘기는 기능이 튜플 그 자체보다는 스플래팅 오퍼레이터(`...`, Splatting Operator)의 기능에 가깝기 때문이다.

In [8]:
arg532 = [ 5, 3, 2 ]
println(max(arg532...))

5

하지만 이렇게 넘겨지는 값에 구체적인 '이름'이 붙을 수 있다는 점은 네임드 튜플만의 고유한 성질이고, 이를 통해 함수의 키워드 인수(Keyword Argument)를 전달할 수 있다.  
예를 들어 앞서 변수들의 묶음으로서 정의했던 네임드 튜플 `sortargs = (; dims, rev)`는 컬렉션을 정렬하는 함수 `sort`에 `dims`와 `rev`라는 이름으로 인수로 전달할 수 있다.  
네임드 튜플로 키워드 인수를 넘길 땐 `sort(M; sortargs...)`와 같이 포지션 인수(Positional Argument)의 가장 뒤에 세미콜론(`;`)을 찍어서 구분한 후 네임드 튜플을 스플랫 오퍼레이터로 풀어주면 된다.

In [9]:
M = [ 3 7 4; 1 5 8; 9 2 6 ]

3×3 Matrix{Int64}:
 3  7  4
 1  5  8
 9  2  6

In [10]:
sort(M; sortargs...)

3×3 Matrix{Int64}:
 7  4  3
 8  5  1
 9  6  2

`sort(M; sortargs...)`는 `sort(M, dims = 2, rev = true)`와 같은 결과를 반환한다.  
`dims = 2`는 정렬을 2번 축(Column, 열) 기준으로, `rev = true`는 역순으로 정렬하라는 의미이다.  
  
dims = Dimensions의 줄임
|dims|의미|
|---|---|
|1|열(Column, 세로) 방향 정렬을 수행한다.|
|2|행(Row, 가로) 방향 정렬을 수행한다.|

rev = Reverse의 줄임
|rev|의미|
|---|---|
|true|역방향(아래에서 위, 오른쪽에서 왼쪽으로)|
|false|정방향(위에서 아래, 왼쪽에서 오른쪽으로)|